body {
    color: green;
    background-color: coral;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    /*same as above*/
    font: bold 20px Arial, Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}

.box-1 {
    background-color: black;
    color: white;
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    /* same as above */
    border: 5px red;
    border-width: 3px;
    border-bottom-width: 10px;
    border-bottom-style: dotted;
    border: 5px red solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    /* same as above */
    padding: 20px;
    margin-top: 20px;
    margin: 20px 0;
}

.save {
    background-color: red;
}